{% extends 'DalilakVenueBundle:Layouts:base.html.twig' %}

{% block title %}Edit album{% endblock %}
{% block scripts %}
    {{ parent() }}
    <!-- Encapculate the add images logic -->
    {% include 'DalilakVenueBundle:scripts:image_upload.html.twig' %}
        <!-- Add mousewheel plugin (this is optional) -->
    <script type="text/javascript" src="{{ asset('bundles/VenueBundle/js/fancy-box/jquery.mousewheel.pack.js') }}"></script>

    <!-- Add fancyBox main JS and CSS files -->
    <script type="text/javascript" src="{{ asset('bundles/VenueBundle/js/fancy-box/jquery.fancybox.pack.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/VenueBundle/js/fancy-box/jquery.fancybox.css') }}" media="screen" />

    <!-- Add Button helper (this is optional) -->
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/VenueBundle/js/fancy-box/helpers/jquery.fancybox-buttons.css') }}" />
    <script type="text/javascript" src="{{ asset('bundles/VenueBundle/js/fancy-box/helpers/jquery.fancybox-buttons.js') }}"></script>

    <!-- Add Thumbnail helper (this is optional) -->
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/VenueBundle/js/fancy-box/helpers/jquery.fancybox-thumbs.css') }}" />
    <script type="text/javascript" src="{{ asset('bundles/VenueBundle/js/fancy-box/helpers/jquery.fancybox-thumbs.js') }}"></script>

    <!-- Add Media helper (this is optional) -->
    <script type="text/javascript" src="{{ asset('bundles/VenueBundle/js/fancy-box/helpers/jquery.fancybox-media.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            /*
             *  Simple image gallery. Uses default settings
             */

            $('.fancybox').fancybox();

            /*
             *  Different effects
             */

            // Change title type, overlay closing speed
            $(".fancybox-effects-a").fancybox({
                helpers: {
                    title : {
                        type : 'outside'
                    },
                    overlay : {
                        speedOut : 0
                    }
                }
            });

            // Disable opening and closing animations, change title type
            $(".fancybox-effects-b").fancybox({
                openEffect  : 'none',
                closeEffect : 'none',

                helpers : {
                    title : {
                        type : 'over'
                    }
                }
            });

            // Set custom style, close if clicked, change title type and overlay color
            $(".fancybox-effects-c").fancybox({
                wrapCSS    : 'fancybox-custom',
                closeClick : true,

                openEffect : 'none',

                helpers : {
                    title : {
                        type : 'inside'
                    },
                    overlay : {
                        css : {
                            'background' : 'rgba(238,238,238,0.85)'
                        }
                    }
                }
            });

            // Remove padding, set opening and closing animations, close if clicked and disable overlay
            $(".fancybox-effects-d").fancybox({
                padding: 0,

                openEffect : 'elastic',
                openSpeed  : 150,

                closeEffect : 'elastic',
                closeSpeed  : 150,

                closeClick : true,

                helpers : {
                    overlay : null
                }
            });

            /*
             *  Button helper. Disable animations, hide close button, change title type and content
             */

            $('.fancybox-buttons').fancybox({
                openEffect  : 'none',
                closeEffect : 'none',

                prevEffect : 'none',
                nextEffect : 'none',

                closeBtn  : false,

                helpers : {
                    title : {
                        type : 'inside'
                    },
                    buttons : {}
                },

                afterLoad : function() {
                    this.title = 'Image ' + (this.index + 1) + ' of ' + this.group.length + (this.title ? ' - ' + this.title : '');
                }
            });


            /*
             *  Thumbnail helper. Disable animations, hide close button, arrows and slide to next gallery item if clicked
             */

            $('.fancybox-thumbs').fancybox({
                prevEffect : 'none',
                nextEffect : 'none',

                closeBtn  : false,
                arrows    : false,
                nextClick : true,

                helpers : {
                    thumbs : {
                        width  : 50,
                        height : 50
                    }
                }
            });

            /*
             *  Media helper. Group items, disable animations, hide arrows, enable media and button helpers.
            */
            $('.fancybox-media')
                .attr('rel', 'media-gallery')
                .fancybox({
                    openEffect : 'none',
                    closeEffect : 'none',
                    prevEffect : 'none',
                    nextEffect : 'none',

                    arrows : false,
                    helpers : {
                        media : {},
                        buttons : {}
                    }
                });

            /*
             *  Open manually
             */

            $("#fancybox-manual-a").click(function() {
                $.fancybox.open('1_b.jpg');
            });

            $("#fancybox-manual-b").click(function() {
                $.fancybox.open({
                    href : 'iframe.html',
                    type : 'iframe',
                    padding : 5
                });
            });

            $("#fancybox-manual-c").click(function() {
                $.fancybox.open([
                    {
                        href : '1_b.jpg',
                        title : 'My title'
                    }, {
                        href : '2_b.jpg',
                        title : '2nd title'
                    }, {
                        href : '3_b.jpg'
                    }
                ], {
                    helpers : {
                        thumbs : {
                            width: 75,
                            height: 50
                        }
                    }
                });
            });


        });
    </script>
{% endblock %}

{% block styles %}
    {{ parent() }}
    <style type="text/css">
        .fancybox-custom .fancybox-skin {
            box-shadow: 0 0 50px #222;
        }
    </style>
{% endblock %}

{% block content -%}
    <h1>Album edit</h1>

    <form action="{{path('album_update', {'id':app.request.attributes.get('id')})}}" {{ form_enctype(edit_form)}} style="min-height: 2400px;height: 100%;padding: 70px" method="post" role="form" class="form-horizontal col-md-12">
        <input type="hidden" name="_method" value="PUT">

        <div class="form-group">
            {{form_label(edit_form.description, 'Description')}}
            {{form_widget(edit_form.description, {'attr':{'class':'form-control'}})}}
        </div>

        <div class="form-group">
            {{form_label(edit_form.description_ar, 'Arabic Description')}}
            {{form_widget(edit_form.description_ar, {'attr':{'class':'form-control'}})}}
        </div>
        
        <ul class="images" data-prototype="{{ form_widget(edit_form.images.vars.prototype)|e }}">
            <p>
                {% for image in images %}
                    <a class="fancybox" href="{{image.image_url}}" data-fancybox-group="gallery" title="{{image.caption}}">
                        <img src="{{image.image_url}}" width="200" alt="">
                    </a>
                {% endfor %}
            </p>
        </ul>

        {{form_widget(edit_form._token)}}
        <button class="btn btn-primary">Update</button>
    </form>
    {{ form(edit_form) }}

    <ul class="record_actions">
    	<li>
        	<a href="{{ path('album') }}">
            	Back to the list
        	</a>
    	</li>
    	<li>{{ form(delete_form) }}</li>
	</ul>
{% endblock %}
