{% extends 'DalilakVenueBundle:Layouts:base.html.twig' %}
{% block scripts %}
    {{ parent() }}
{% endblock %}

{% block styles %}
    {{ parent() }}
{% endblock %}

{% block content -%}
    <h1>Album list</h1>

    <table class="records_list table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Venue</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('album_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td><a href="{{ path('venue_show', {'id': entity.venue.id}) }}">{{ entity.venue }}</a></td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('album_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('album_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            {#<a href="{{ path('album_new') }}">
                Create a new entry
            </a>#}
        </li>
    </ul>
    {% endblock %}
