{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Menu</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Item_name</th>
                <td>{{ entity.itemname }}</td>
            </tr>
            <tr>
                <th>Ingerdients</th>
                <td>{{ entity.ingerdients }}</td>
            </tr>
            <tr>
                <th>Size1</th>
                <td>{{ entity.size1 }}</td>
            </tr>
            <tr>
                <th>Size1_price</th>
                <td>{{ entity.size1price }}</td>
            </tr>
            <tr>
                <th>Size2</th>
                <td>{{ entity.size2 }}</td>
            </tr>
            <tr>
                <th>Size2_price</th>
                <td>{{ entity.size2price }}</td>
            </tr>
            <tr>
                <th>Size3</th>
                <td>{{ entity.size3 }}</td>
            </tr>
            <tr>
                <th>Size3_price</th>
                <td>{{ entity.size3price }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('menu') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('menu_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
