{% extends 'DalilakVenueBundle:Layouts:base.html.twig' %}

{% block title %}List venues{% endblock %}
{% block scripts %}{{parent()}}{% endblock %}
{% block styles %}{{parent()}}{% endblock %}

{% block content -%}
    <h1>Venue list</h1>

    <table class="records_list table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Namear</th>
                <th>Email</th>
                <th>Facebook</th>
                <th>Twitter</th>
                <th>Website</th>
                <th>Openingtimes</th>
                <th>Services</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('venue_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.nameAr }}</td>
                    <td>{{ entity.email }}</td>
                    <td>{{ entity.facebook }}</td>
                    <td>{{ entity.twitter }}</td>
                    <td>{{ entity.website }}</td>
                    <td>{{ entity.openingTimes }}</td>
                    <td>{{ entity.services }}</td>
                    <td>
                        <ul>
                            <li class="action-align">
                                <a href="{{ path('venue_add_branches', { 'id': entity.id }) }}" class="btn btn-primary">add branches</a>
                            </li>
                            <li class="action-align">
                                <a href="{{ path('venue_add_menues', { 'id': entity.id }) }}" class="btn btn-primary">add menu</a>
                            </li>
                            <li class="action-align">
                                <a href="{{ path('venue_add_offers', { 'id': entity.id }) }}" class="btn btn-primary">add offers</a>
                            </li>
                            <li class="action-align">
                                <a href="{{ path('venue_show', { 'id': entity.id }) }}" class="btn btn-primary">show</a>
                            </li>
                            <li class="action-align">
                                <a href="{{ path('venue_edit', { 'id': entity.id }) }}" class="btn btn-success">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('venue_new') }}" class="btn btn-primary">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
