{% extends 'DalilakVenueBundle:Layouts:base.html.twig' %}
{% block scripts %}
    {{ parent() }}
{% endblock %}

{% block styles %}
    {{ parent() }}
{% endblock %}

{% block content -%}
    <h1>Offer list</h1>

    <table class="records_list table table-striped">        
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Validdate</th>
                <th>Image</th>
                <th>Vendor</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('offer_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.title }}</td>
                <td>{% if entity.validDate %}{{ entity.validDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.image }}</td>
                <td><a href="{{ path('venue_show', {'id': entity.vendor.id}) }}">{{ entity.vendor }}</a></td>
                <td>
                <ul>
                    <li>
                        <!--<a href="{{ path('offer_show', { 'id': entity.id }) }}">show</a>-->
                    </li>
                    <li>
                        <a href="{{ path('offer_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        {#<li>
            
            <a href="{{ path('offer_new', {'venue_id': app.request.attributes.get('venue_id')}) }}">
                Create a new entry
            </a>
        </li>#}
    </ul>
    {% endblock %}
