{% extends 'DalilakVenueBundle:Layouts:base.html.twig' %}

{% block title %}Add offer{% endblock %}
{% block scripts %}
{{parent()}}
    <script src="{{asset('bundles/bower_components/tinymce/tinymce.min.js')}}"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: '.editor'
        });
    </script>
{% endblock %}
{% block content -%}
    <h1>Offer creation</h1>

    <form action="{{path('offer_create', {'venue_id':app.request.attributes.get('venue_id')})}}" {{ form_enctype(form)}} style="min-height: 2400px;height: 100%;padding: 70px" method="post" role="form" class="form-horizontal col-md-12">
    	<div class="form-group">
            {{form_label(form.title, 'Title')}}
            {{form_widget(form.title, {'attr':{'class':'form-control'}})}}
        </div>

        <div class="form-group">
            {{form_label(form.title_ar, 'Arabic Title')}}
            {{form_widget(form.title_ar, {'attr':{'class':'form-control'}})}}
        </div>

        <div class="form-group">
            {{form_label(form.validDate, 'Valide until')}}
            {{form_widget(form.validDate, {'attr':{'class':'form-control'}})}}
        </div>

        <div class="form-group">
            {{form_label(form.description, 'Description')}}
            {{form_widget(form.description, {'attr':{'class':'form-control editor'}})}}
        </div>

        <div class="form-group">
            {{form_label(form.description_ar, 'Arabic Description')}}
            {{form_widget(form.description_ar, {'attr':{'class':'form-control editor'}})}}
        </div>

        {{form_widget(form._token)}}
        <button class="btn btn-primary">Create</button>
    </form>

    <ul class="record_actions">
    	<li>
        	<a href="{{ path('offer') }}">
            	Back to the list
        	</a>
    	</li>
	</ul>
{% endblock %}
